<div class="container">
    <div class="date">Date: <%= start_datetime || "Not specified" %></div>
    <div class="departure_airport">Departure airport: <%= departure_airport_id || "Not specified" %></div>
    <div class="arrival_airport">Arrival airport: <%= arrival_airport_id || "Not specified" %></div>
    <div class="number_of_passengers">Number of passengers: <%= number_of_passengers || 0 %></div>
</div>
